body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f3f4f6;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    background: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    max-width: 200px; /* Adjust as needed */
    margin-bottom: 20px;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    color: #666;
}

.last-updated {
    margin-top: 20px;
    font-size: 1em;
    color: #333;
}
